.menu {
  width: min-content;
  border-radius: 8px;
}

.items {
  background: var(--card-bg);
  position: absolute;
  z-index: 100000;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
}

.item {
  min-width: 100%;
  padding: 10px 20px;
  border: none;
  outline: none;
  color: var(--inverted-primary-color);
  cursor: pointer;
}

.active {
  background: var(--primary-color);
}
