body.dark {
  --bg-color: #0e0e75;
  --inverted-bg-color: #dadae4;
  --primary-color: #049604;
  --secondary-color: #04ff04;
  --inverted-primary-color: #00178d;
  --inverted-secondary-color: #3b62c6;
}
