.app_purple_theme {
  --bg-color: #85369f;
  --inverted-bg-color: #7ac960;
  --primary-color: #f9f4fb;
  --secondary-color: #1e1062;
  --inverted-primary-color: #060b04;
  --inverted-secondary-color: #c5d37e;

  // skeleton
  --skeleton-color: #f9f4fb;
  --skeleton-shadow: rgb(0 0 0 / 20%);

  // code
  --code-bg: #a54fc2;

  // card
  --card-bg: #9a7373;

  // listbox
  --listbox-bg: #9a7373;
}
