.app_purple_theme {
  --bg-color: #85369f;
  --inverted-bg-color: #7ac960;

  // --primary-color: #3a2c81;
  --primary-color: #f9f4fb;

  // --secondary-color: #f9f4fb;
  --secondary-color: #3a2c81;
  --inverted-primary-color: #060b04;
  --inverted-secondary-color: #c5d37e;
}
