.articleDetailsPage {
  display: block;
}

.commentTitle {
  margin-top: 20px;
}

.recommendations {
  margin-top: 20px;
  flex-wrap: nowrap;
  justify-content: start;
  overflow-y: hidden;
  overflow-x: auto;
}
