.menu {
  position: relative;
  width: min-content;
  border-radius: 8px;
}

.btn {
  background: none;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.items {
  background: var(--card-bg);
  position: absolute;
  z-index: 100000;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
}

.item {
  min-width: 100%;
  padding: 10px 20px;
  border: none;
  outline: none;
  color: var(--inverted-primary-color);
  cursor: pointer;
}

.active {
  background: var(--primary-color);
}

.optionsTopLeft {
  right: 0;
  bottom: 100%;
}

.optionsTopRight {
  left: 0;
  bottom: 100%;
}

.optionsBottomLeft {
  right: 0;
  top: 100%;
}

.optionsBottomRight {
  left: 0;
  top: 100%;
}
